.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.post {
  width: 40%;
  border: 2px solid white;
  box-shadow: 5px 5px 0 gray;
  margin-bottom: 25px;
  padding: 0 20px;
}

.post-author {
  font-weight: bold;
}