.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.post {
  width: 40%;
  border: 5px groove white;
  margin-bottom: 25px;
  padding: 0 20px;
}

.post-author {
  font-weight: bold;
}