.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  border: 2px solid white;
  box-shadow: 5px 5px 0 gray;
  margin-bottom: 30px;
  padding: 0 40px;
}

.quote {
  margin-bottom: 0;
}

.author {
  font-weight: bold;
  margin-top: 10px;
  font-size: calc(5px + 2vmin);
}