.user-list p {
  border-bottom: 5px double white;
  padding-bottom: 5px;
  margin: 0;
  font-size: 30px;
}

.users {
  padding: 0 10px;
  list-style-position: inside;
  max-height: 290px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.users:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.user {
  margin-bottom: 10px;
}