.users {
  border: 5px groove white;
  padding: 10px 30px;
  list-style-position: inside;
  overflow-y: scroll;
  max-height: 290px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.users:last-child {
  margin-bottom: 0;
}

.user {
  margin-bottom: 10px;
}